body {
    font-family: poppins;
}
nav {
    box-shadow: 0px 7px 7px #ccc
}
h2 {
    text-align: center;
    margin-top: 30px;
    letter-spacing: 5px;
    margin-bottom: 30px;
}
details {
    margin-top: 50px;
}
summary {
    border: dotted;
}
p {
    margin-top: 15px;
    line-height: 35px;
}
footer {
    margin-top: 25px;
}
img {
    display: block;
    margin: auto;
}
