body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}
.navbar-nav .nav-link {
    color: #FFFFFF;
    font-weight: 300;
} 
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /
}
.nav-link:hover {
    color: #CC7942;
}
a {
    color: #FFFFFF;
    margin-left: 10px;
}
.content {
    height: 100rem;
}
.wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #161616;
    height: 42rem;
    color: #FFFFFF;
}
h2 > span {
    color: #CC7942;
}
.wrapper1 > p {
    margin-top: 10px; 
    margin-bottom: 15px;  
}
.btnAboutMe {
    margin-top: 15px;
}
.aboutme {
    border: 0.5px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    padding: 13px;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s;
}
.aboutme:hover {
    border: none;
    background-color: #CC7942;
    color: #060606;
    font-weight: 500;
}
.wrapper2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #060606;
    height: 35.5rem;
}
.wrapper2 > h2 {
    margin-top: 40px;
    color: #FFFFFF;
}
.profile {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.profileImg > img {
    border-radius: 50%;
    height: 200px;
    margin-top: 22px;
    margin-bottom: 20px;
}
.description {
    background-color: #161616;
    color: #FFFFFF;
    padding: 20px;
    width: 30rem;
    border-radius: 12px;
    margin-left: 200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}
.programmingLogo {
    display: flex;
    justify-content: space-between;
    background-color: #161616;
    border-radius: 12px;
    margin-top: 50px;
    padding: 8px;
    width: 54rem;
}
.programmingLogo > img {
    border: none;
    width: 5rem;
    height: 4.5rem;
    padding: 5px;
}
#sql {
    height: 4rem;
}
.wrapper3 {
    height: 22rem;
    background-color: #060606;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper3 > h2 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}
.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; 
    padding: 20px;
    justify-items: center;
}
.skill {
    color: #FFFFFF;
    background-color: #161616;
    border-radius: 12px;
    padding: 15px 20px;
    margin: 15px;
    width: 300px;
    height: 5rem;
    text-align: center;
}
.skill > h5 {
    margin-top: 5px;
}
.wrapper4 {
    display: flex;
    flex-direction: column;
    height: 30.5rem;
    background-color: #161616;
}
.wrapper4 > h2 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}
.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    margin-top: 30px;
}
.bakemyday, .capstoneRevou {
    display: flex;
    flex-direction: column;
}
.bakemyday {
    margin-left: 100px;
}
.bakemyday > img, .capstoneRevou > img {
    width: 25rem;
    height: 10.8rem;
    border-radius: 12px 12px 0 0;
}
.projectDescription {
    height: 8.5rem;
    background-color: #060606;
    width: 25rem;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.projectDescription > p {
    margin: 8px 8px 8px 12px;
    color: #FFFFFF;
}
.projectDescription > .link > a:hover {
    color: #CC7942;
}
.wrapper5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35rem;
    background-color: #060606;
}
.wrapper5 > .messageForm > h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
}
.messageForm {
    background-color: #161616;
    border-radius: 12px;
    margin-top: 30px;
    padding: 15px;
    width: auto;
    height: auto;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}
.name > input[type="text"], .email > input[type="email"] {
    border: 0.5px solid #FFFFFF;
    background-color: #161616;
    border-radius: 5px;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom : 10px;
    width: 35rem;
    height: 3rem;
}
.message > textarea {
    border: 0.5px solid #FFFFFF;
    background-color: #161616;
    border-radius: 5px;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom : 10px;
    width: 35rem;
    height: 10rem;
}
input::placeholder, textarea::placeholder {
    color: #FFFFFF;
    padding: 5px;
}
.button {
    display: flex;
    justify-content: flex-start;
}
#submit {
  border: 0.5px solid #CC7942;
  border-radius: 10px;
  font-family: montserrat;
  padding: 8px;
  width: 5.5rem;
  background-color: #161616;
  color: #CC7942;
  transition: background-color 0.5s, color 0.5s;
}
#submit:hover {
    background-color: #CC7942;
    color: #FFFFFF;
}
footer {
    text-align: center;
    background-color: #161616;
    color: #FFFFFF;
}
.social {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-left: 24.5rem;
}
.social > a > img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 2px;
}
@media screen and (max-width: 480px) {
.wrapper1 > p {
    padding: 12px;
}
.wrapper2 {
    height: 46rem;
}
.profile {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.profileImg {
    display: flex;
    justify-content: center;
}
.description {
    background-color: #161616;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 12px;
    margin: 20px;
    width: auto;
}
.programmingLogo {
    display: flex;
    flex-direction: row;
    background-color: #161616;
    border-radius: 12px;
    margin-top: 4.5px;
    padding: 1px;
    width: auto;
}
.programmingLogo > img {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    padding: 5px;
    margin: 5px;
}
#sql {
    height: 2.2rem;
}
.wrapper3 {
    height: 48.5rem;
}
.wrapper3 > h2 {
    margin-top: 20px;
}
.skills {
    display: flex;
    flex-direction: column;
}
    .wrapper4 {
        display: flex;
        flex-direction: column;
        height: 47.5rem;
}
    .wrapper4 > h2 {
        color: #FFFFFF;
        text-align: center;
        margin-top: 20px;
}
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5px;
}
    .bakemyday > img, .capstoneRevou > img {
        width: auto;
        height: 11rem;
}
    .projectDescription {
        width: auto;
}
    .projectDescription > p {
        font-size: 0.9rem;
        margin: 2.5px 8px 8px 13px;
    }
    .bakemyday {
        margin-top: 28px;
        margin-left: 0;
}
    .projectDescription > .link {
        padding: 5px;
}
    .wrapper5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 31rem;
    background-color: #060606;
}
.wrapper5 > .messageForm > h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
}
.messageForm {
    background-color: #161616;
    border-radius: 12px;
    margin-top: 10px;
    padding: 15px;
    width: 18rem;
    height: 25.7rem;
    padding: 18px;
}
.name > input[type="text"], .email > input[type="email"] {
    border: 0.5px solid #FFFFFF;
    background-color: #161616;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom : 10px;
    width: 15rem;
    height: 3.5rem;
}
.message > textarea {
    width: 15rem;
    height: 7rem;
}
input::placeholder, textarea::placeholder {
    color: #FFFFFF;
    padding: 4px;
}
.social {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-left: 4.2rem;
}
.social > a > img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 6px;
}
footer > p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}
}
@media screen and (min-width: 481px) and (max-width: 834px) {
    .wrapper1 > p {
        margin-top: 15px; 
        margin-bottom: 35px;
        font-size: 1.2rem;  
    }
    .aboutme {
        padding: 20px;
    }
    .wrapper2 {
        height: 40rem;
    }
    .profile {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        padding: 10px;
    }
    .profileImg > img {
        border-radius: 50%;
        height: 250px;
        margin-top: 22px;
        margin-left: 50px;
    }
    .description {
        background-color: #161616;
        color: #FFFFFF;
        font-size: 1.2rem;
        padding: 20px;
        width: 30rem;
        border-radius: 12px;
        margin-left: 60px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}
.programmingLogo {
    display: flex;
    justify-content: space-between;
    background-color: #161616;
    border-radius: 12px;
    margin-top: 50px;
    padding: 12px;
    width: 52rem;
}
.programmingLogo > img {
    border: none;
    width: 5rem;
    height: 4.5rem;
    padding: 5px;
}
.wrapper3 {
    height: 27rem;
}
.skill {
    padding: 25px 25px;
    width: 250px;
    height: 7.5rem;
}
.wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75rem;
}
.wrapper4 > h2 {
    margin-top: 40px;
}
.projects {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-left: 18px;
    margin-right: 18px;
}
.bakemyday {
    margin-left: 0;
    margin-top: 100px;
}
.bakemyday > img, .capstoneRevou > img {
    width: auto;
    height: 22rem;
}
.projectDescription {
    width: auto;
}
.projectDescription > p {
    font-size: 1.2rem;
    margin: 2.5px 8px 8px 15px;
}
.bakemyday {
    margin-top: 40px;
    margin-left: 0;
}
.projectDescription > .link {
    font-size: 1.2rem;
    padding: 5px;
}
}
