body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}
.navbar-nav .nav-link {
    color: #FFFFFF;
    font-weight: 300;
} 
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /
}
.nav-link:hover {
    color: #CC7942;
}
a {
    color: #FFFFFF;
    margin-left: 10px;
}
.content {
    height: 100rem;
}
/* Typing Effect Styles */
.typing-container {
    display: inline-block;
    position: relative;
}
.blink-cursor {
    animation: blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FFFFFF; }
}
* {
    transition: all 0.3s ease-out;
}
.wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #161616;
    height: 42rem;
    color: #FFFFFF;
}
.wrapper1 > h3 {
    font-size: 3rem;
}
h3 > span {
    color: #CC7942;
}
.wrapper1 > p {
    font-size: 1.7rem;
    margin-top: 10px; 
    margin-bottom: 15px;  
}
.btnAboutMe {
    margin-top: 25px;
}
.aboutme {
    border: 0.5px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    padding: 13px;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s;
}
.aboutme:hover {
    border: none;
    background-color: #CC7942;
    color: #060606;
    font-weight: 500;
}
.wrapper2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #060606;
    height: 45.5rem;
}
.wrapper2 > h2 {
    margin-top: 40px;
    color: #FFFFFF;
    font-size: 2.5rem;
}
.profile {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.profileImg > img {
    border-radius: 50%;
    height: 350px;
    margin-top: 22px;
    margin-bottom: 20px;
}
.description {
    background-color: #161616;
    color: #FFFFFF;
    padding: 20px;
    width: 40rem;
    font-size: 1.5rem;
    border-radius: 12px;
    margin-left: 200px;
    text-align: justify;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}
.programmingLogo {
    display: flex;
    justify-content: space-between;
    background-color: #161616;
    border-radius: 12px;
    margin-top: 50px;
    padding: 8px;
    width: 73.5rem;
}
.programmingLogo > img {
    border: none;
    width: 5rem;
    height: 4.5rem;
    padding: 5px;
}
#sql {
    height: 4rem;
}
.wrapper3 {
    height: 25rem;
    background-color: #060606;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper3 > h2 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
    font-size: 2.5rem;
}
.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
    padding: 5px;
    justify-items: center;
}
.skill {
    color: #FFFFFF;
    background-color: #161616;
    border-radius: 12px;
    padding: 5px 20px;
    margin: 15px;
    width: 300px;
    height: 5rem;
    text-align: center;  
}
.skill > h5 {
    margin-top: 5px;
}
.wrapper4 {
    display: flex;
    flex-direction: column;
    height: 100rem;
    background-color: #060606;
}
.wrapper4 > h2 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
}
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.project {
    position: relative;
    width: auto;
    margin: 30px;
}
.project > img {
    width: 60rem;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}
.projectDescription {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #161616;
    border-radius: 12px; 
    color: #FFFFFF;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    padding: 35px;
}
.projectDescription > p, i {
    margin-top: 15px;
}
.project:hover .projectDescription {
    opacity: 1; 
    transform: translateY(0);
}
.wrapper5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35rem;
    background-color: #060606;
}
.wrapper5 > .messageForm > h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
}
.messageForm {
    background-color: #161616;
    border-radius: 12px;
    margin-top: 30px;
    padding: 15px;
    width: auto;
    height: auto;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}
.name > input[type="text"], .email > input[type="email"] {
    border: 0.5px solid #FFFFFF;
    background-color: #161616;
    border-radius: 5px;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom : 10px;
    width: 35rem;
    height: 3rem;
}
.message > textarea {
    border: 0.5px solid #FFFFFF;
    background-color: #161616;
    border-radius: 5px;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom : 10px;
    width: 35rem;
    height: 10rem;
}
input::placeholder, textarea::placeholder {
    color: #FFFFFF;
    padding: 5px;
}
.button {
    display: flex;
    justify-content: flex-start;
}
@keyframes subtle-glow {
    0% {
        box-shadow: 0 0 5px rgba(204, 121, 66, 0.3),
                0 0 8px rgba(204, 121, 66, 0.15);
            }
            50% {
                box-shadow: 0 0 10px rgba(204, 121, 66, 0.4),
                0 0 15px rgba(204, 121, 66, 0.2);
  }
  100% {
      box-shadow: 0 0 5px rgba(204, 121, 66, 0.3),
      0 0 8px rgba(204, 121, 66, 0.15);
  }
}
#submit {
  border: 0.5px solid #CC7942;
  border-radius: 10px;
  font-family: montserrat;
  padding: 8px;
  width: 5.5rem;
  background-color: #161616;
  color: #CC7942;
  transition: all 0.5s ease;
  animation: subtle-glow 2s ease-in-out infinite;
  box-shadow: 0 0 10px rgba(204, 121, 66, 0.2);
  position: relative;
}
#submit:hover {
    animation: subtle-glow 2s ease-in-out infinite;
    background-color: #CC7942;
    color: #FFFFFF;
}
.social {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-left: 19.5rem;
}
.social > a > img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 2px;
}
.social img {
  transition: transform 0.3s ease;
}
.social img:hover {
  transform: translateY(-3px);
}
footer {
    text-align: center;
    background-color: #161616;
    color: #FFFFFF;
}
.custom-popup {
    background-color: #161616 !important;
    color: #FFFFFF;
    border-radius: 12px; 
}
@media screen and (max-width: 480px) {
    .wrapper1 > h3 {
        font-size: 1.4rem;
    }
    .wrapper1 > p {
        padding: 12px;
        font-size: 1.1rem;
    }
    .btnAboutMe {
        margin-top: 15px;
    }
    .wrapper2 {
        height: 52rem;
    }
    .wrapper2 > h2 {
        font-size: 1.6rem;     
    }
    .profile {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .profileImg {
        display: flex;
        justify-content: center;
    }
    .profileImg > img {
        height: 250px;
    }
    .description {
        background-color: #161616;
        color: #FFFFFF;
        padding: 15px;
        border-radius: 12px;
        margin: 20px;
        width: auto;
        font-size: 1rem;
    }
    .programmingLogo {
        display: flex;
        flex-direction: row;
        background-color: #161616;
        border-radius: 12px;
        margin-top: 4.5px;
        padding: 1px;
        width: auto;
    }
    .programmingLogo > img {
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        padding: 5px;
        margin: 5px;
    }
    #sql {
        height: 2.2rem;
    }
    .wrapper3 {
        height: 48.5rem;
    }
    .wrapper3 > h2 {
        margin-top: 35px;
        font-size: 1.6rem;
    }
    .skills {
        display: flex;
        flex-direction: column;
        gap: 8px; 
        padding: 5px;
    }
    .skill {
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.8s ease-out;
    }
    .skill.show, .project.show {
        opacity: 1;
        transform: translateY(0);
    }
    .wrapper4 {
        display: flex;
        flex-direction: column;
        height: 42rem;
    }
    .wrapper4 > h2 {
        color: #FFFFFF;
        text-align: center;
        margin-top: 35px;
        font-size: 1.6rem;
    }
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        padding: 15px;
    }
    .project {
        position: relative;
        width: 100%;
        height: auto;
        margin: 10px auto;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.8s ease-out;
    }
    .project > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .projectDescription {
        width: 100%;
        height: 100%;
        padding: 15px;
        top: 0;
        left: 0;
        font-size: 1rem;
    }
    .projectDescription > h3 {
        font-size: 1rem;
        margin-bottom : 5px;
    }
    .projectDescription > p {
        font-size: 0.8rem;
        margin: 5px 0;
    }
    .projectDescription > i {
        margin-top: 5px;
    }
    .wrapper5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 31rem;
        background-color: #060606;
    }
    .wrapper5 > .messageForm > h2 {
        color: #FFFFFF;
        font-size: 1.5rem;
    }
    .messageForm {
        background-color: #161616;
        border-radius: 12px;
        margin-top: 10px;
        padding: 15px;
        width: 18rem;
        height: 25.7rem;
        padding: 18px;
    }
    .name > input[type="text"], .email > input[type="email"] {
        border: 0.5px solid #FFFFFF;
        background-color: #161616;
        border-radius: 5px;
        margin-top: 12px;
        margin-bottom : 10px;
        width: 15.5rem;
        height: 3.5rem;
    }
    .message > textarea {
        width: 15.5rem;
        height: 7rem;
    }
    input::placeholder, textarea::placeholder {
        color: #FFFFFF;
        padding: 4px;
    }
    #submit {
        padding: 10px;       
    }
    .social {
        display: flex;
        flex-direction: row;
        padding: 5px;
        margin-left: 0.5rem;
    }
    .social > a > img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 2px;
    }
    footer > p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
    }
    .custom-popup {
        width: 90% !important; 
        max-width: 400px; 
    }
}
@media screen and (min-width: 481px) and (max-width: 834px) {
    .wrapper1 > p {
        margin-top: 15px; 
        margin-bottom: 35px;
        font-size: 1.5rem;  
    }
    .aboutme {
        padding: 25px;
    }
    .wrapper2 {
        height: 40rem;
    }
    .profile {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        padding: 10px;
    }
    .profileImg > img {
        border-radius: 50%;
        height: 250px;
        margin-top: 45px;
        margin-left: 50px;
    }
    .description {
        background-color: #161616;
        color: #FFFFFF;
        font-size: 1.2rem;
        padding: 20px;
        width: 30rem;
        border-radius: 12px;
        margin-left: 30px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    }
    .programmingLogo {
        display: flex;
        justify-content: space-between;
        background-color: #161616;
        border-radius: 12px;
        margin-top: 40px;
        padding: 12px;
        width: 50rem;
    }
    .programmingLogo > img {
        border: none;
        width: 4.5rem;
        height: 4rem;
        padding: 5px;
    }
    #sql {
        height: 4rem;
    }
    .wrapper3 {
        height: 27rem;
        width: auto;
        margin-top: 50px;
    }
    .wrapper3 > h2 {
        margin-bottom: 30px;
    }
    .skill {
        padding: 20px 20px;
        width: 230px;
        height: 7.5rem;
    }
    .wrapper4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 58rem;
    }
    .wrapper4 > h2 {
        margin-top: 35px;
    }
    .projects {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        padding: 20px;
    }
    .project {
        width: 100%;
        height: auto;
        margin: 15px auto;
    }
    .project img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .projectDescription {
        width: 100%;
        height: 100%;
        padding: 15px;
        top: 0;
        left: 0;
    }
    .projectDescription > p {
        font-size: 1.2rem;
    }   
}
