body {
    font-family: poppins;
}
nav {
    box-shadow: 0px 7px 7px #ccc;
}
h1 {
    text-align: center;
    margin-top: 45px;
}
img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: auto;
    height:520px;
    
}
@media screen and (min-width: 1366px) {
    .custom-class {
        width: 100px;
        height: 600px;
    }
    
}


